@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");

.Luri {
  color: #fff;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 40px;
  text-shadow: 0 0 5px #FFF, 0 0 10px Blue,
    0 0 20px #FFF, 0 0 40px Blue,
    0 0 80px #FFF, 0 0 90px Blue,
    0 0 100px #FFF, 0 0 140px Blue,
    0 0 180px #FFF;
}
.mago {
  color: #fff;
  margin-top: 30%;
  text-shadow: 0 0 5px #FFF, 0 0 10px Blue,
  0 0 20px #FFF, 0 0 40px Blue,
  0 0 80px #FFF, 0 0 90px Blue,
  0 0 100px #FFF, 0 0 140px Blue,
  0 0 180px #FFF;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 40px;
}
.name {
  position: fixed;
  margin-top: 150px;
  z-index: 999;
  opacity: 0;
  animation: slideTop 1s ease forwards;
}
.mage {
  position: absolute;
  max-height: 200px;
  margin-top: -40px;
  z-index: 999;
  position: fixed;
  opacity: 0;
  animation: slideTop 1s ease forwards, floatImage 3s ease-in-out infinite;
  animation-delay: 2.1s, 2.1s;
}

.navbar {
  border-style:none;
  border-color: transparent;
}
.navbar a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}
.navbar a.active,
.navbar a:hover{
  background: linear-gradient(45deg,blue, #fff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* KEYFRAMES ANIMATION*/
@keyframes slideTop {
0% {
  opacity: 0;
  transform: translateY(100px);
}
100% {
  opacity: 1;
  transform: translateY(0px);
}
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
  }

/* / RESPONSIVE
   ========================================================================= / */
/* / Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- / */
@media (max-width: 500px) {
  .name {
    position: fixed;
    margin-top: -25px;
    z-index: 999;
  }
  .mage {
    position: absolute;
    max-height: 200px;
    margin-top: -40px;
    z-index: 999;
    position: fixed;
  }
  .borderNavbar {
    text-align: center;
  }
}
/* / Tablets en horizonal y escritorios normales
	 ------------------------------------------------------------------------- / */
@media (max-width: 720px) {
  .borderNavbar {
    text-align: center;
  }
}
/* / Escritorios muy anchos
	 ------------------------------------------------------------------------- */
@media (max-width: 1200px) {
}
